{% load static %}
<html>
    <head>
       
        
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
        <link href="{% static 'css/bootstrap-grid.min.css' %}" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link href="{% static 'aos-master/dist/aos.css' %}" rel="stylesheet" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.10/typed.min.js"></script>
        <script src="{% static 'aos-master/dist/aos.js' %}"></script>
        <link href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" rel="stylesheet" />
        <link href="{% static 'dashboardstyle1.css' %}" type="text/css" rel="stylesheet" />
        <link href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css" rel="stylesheet" />
        <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script>
        <script>
            $(document).ready(function () {
                $('#example').DataTable();
            });
        </script>
    </head>
        <body id="body-pd">
            <header class="header bg-danger" id="header">
                <div class="header_toggle"> 
                    <i class='bx bx-menu' id="header-toggle"></i> 
                    
                </div>
                <div class="text-light " id="clgt">
                    <h3>College Assignment Management</h3>
                </div>
                <div class="dropdown">
                    <button class="btn fw-bold pt-2 fs-5 dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" id="btnmenu">
                        <i class="fa-sharp fa-solid fa-bell"></i>
                    </button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="/profile/">Profile</a></li>
                      <li><a class="dropdown-item" href="/logout/">Logout</a></li>
                    </ul>
                  </div>
                
            </header>
            
<div class="l-navbar bg-dark" id="nav-bar">
    <nav class="nav">
        <div> 
            <hr class="text-light"> 
            <div class="text-center"> 
                 {% if user.is_authenticated %}
                    <img src="/media/{{ tdetail.Photo }}" class="rounded-circle" height="60px" width="30%" alt=""> 
                    <li><a class="text-light fs-2 ps-3 text-center">Hi,{{ user.username }}</a></li>
                    {% else %}
                {% endif %}
            </div>
            <hr class="text-light">
                <div class="nav_list" > 
                    <div class="navv">                    <div class="bg-danger">
                        <a href="/dashboard/" class="nav_link active">
                            <i class='bx bx-grid-alt bx-md ps-3'></i> 
                            <h5 class="pt-3">Dashboard</h5> </a> 
                    </div>
                    <a href="/assignment/{{ tdetail.id }}/{{ tdetail.Course_id_id}}/{{ tdetail.Course_id_id}}" class="nav_link"> 
                    <i class='bx bx-file-blank bx-md ps-3'></i>
                    <h5>Assignment</h5> </a> 
                    <a href="/news/{{ tdetail.id }}" class="nav_link"> 
                    <i class='bx bx-message-square-detail bx-md ps-3'></i> 
                    <h5>Announcement/News</h5> </a> 
                    <div class="dropdown pb-3 " id="drop1">
                        <i class='bx bx-upload fs-1 ps-0 pt-4 text-light' id="icon1"></i> 
                        <button class="btn text-light  fs-5 dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" id="btnassign1">
                            Assignments
                        </button>
                        <ul class="dropdown-menu bg-dark" class="hovver">
                            <li><a class="dropdown-item bg-dark text-light" href="/unchkassign/{{ tdetail.Course_id_id}}">Unchecked</a></li>
                            <li><a class="dropdown-item bg-dark text-light" href="/chkassign/{{ tdetail.Course_id_id }}">Checked</a></li>
                        </ul>
                    </div>
                    </div>
                    <div class="navvvbar">

                        <a href="/regstu/{{ tdetail.Course_id_id }}" class="nav_link"> 
                        <i class='bx bx-user bx-md ps-3'></i>
                        <h5>Reg Student</h5> </a>
                        <a href="/subjectwise/{{ tdetail.Course_id_id}}" class="nav_link"> 
                        <i class='bx bx-user bx-md ps-3'></i>
                        <h5>Subjectwise report</h5> </a>
                        <a href="/profile/" class="nav_link"> 
                        <i class='bx bx-user-circle bx-md ps-3'></i>
                        <h5>Profile</h5> </a> 
                        <a href="/changepassword/"class="nav_link"> 
                        <i class='bx bxs-key bx-md ps-3'></i>
                        <h5>Change Password</h5> </a>  
                        <a href="/logout/" class="nav_link"> 
                        <i class='bx bx-log-out-circle bx-md ps-3'></i> 
                        <h5>Logout</h5> </a> 
                </div>
        </div> 
    </nav>
</div>
            
            {% block content %}

            {% endblock %}

        </div>
        
    </body>
    <script>
        document.addEventListener("DOMContentLoaded", function(event) {
   
            const showNavbar = (toggleId, navId, bodyId, headerId) =>{
            const toggle = document.getElementById(toggleId),
            nav = document.getElementById(navId),
            bodypd = document.getElementById(bodyId),
            headerpd = document.getElementById(headerId)
            
            // Validate that all variables exist
            if(toggle && nav && bodypd && headerpd){
            toggle.addEventListener('click', ()=>{
            // show navbar
            nav.classList.toggle('showsidebar')
            // change icon
            toggle.classList.toggle('bx-x')
            // add padding to body
            bodypd.classList.toggle('body-pd')
            // add padding to header
            headerpd.classList.toggle('body-pd')
            })
            }
            }
            
            showNavbar('header-toggle','nav-bar','body-pd','header')
            
            /*===== LINK ACTIVE =====*/
            const linkColor = document.querySelectorAll('.nav_link')
            
            function colorLink(){
            if(linkColor){
            linkColor.forEach(l=> l.classList.remove('active'))
            this.classList.add('active')
            }
            }
            linkColor.forEach(l=> l.addEventListener('click', colorLink))
            
             // Your code to run since DOM is loaded and ready
            });
        
    </script>
</html>
