{% extends 'base2.html' %}
{% load static %}
{% block title %}changepsw{% endblock %}
{% block content %}
<div class="row" id="dashbg">
    <div class="col-md-12">
        <div class="row" id="assign">
            <div class="col-md-12">
            <h2 class="text-danger fw-bold">Change Password</h2>
            <hr width="100%" >
            </div>
        </div>
        <div class="row pt-5">
            <div class="col-md-12 ">
                <form class="ps-5 fw-bold" method="post">
                    {% csrf_token %}
                {{ form }}
                    <div class="pt-4">
                        <button type="submit" onclick="sub()">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    function sub()
    {
        alert(" Your Password Has Been Updated Successfully");
    }
</script>
{% endblock %}