{% extends 'base3.html' %}
{% load static %}
{% block title %}Uploaded assignment{% endblock %}
{% block content %}
<div class="row" id="dashbg">
  <div class="col-md-12">
    <div class="row" id="assign">
        <div class="col-md-12">
          <h2>Uploaded Assignment</h2>
          <hr width="100%">
        </div>
    </div>
    <div class="row pt-5 ps-5">
      <div class="col-md-12">
        <table id="example" class="table table-striped  table-light table-bordered border border-3 border-dark " style="width:100%">
          <thead>
            <tr>
              <th>S No.</th>
              <th>Assignment Number</th>
              <th>Course Name</th>
              <th>Subject</th>
              <th>Assignment By</th>
              <th>Date of Submission</th>
              <th>Status</th>
              <th>Action</th>
              <th>Action</th>
            </tr>
            <tbody>
              {% for u in upload %}
              <tr>
                <td>{{forloop.counter}}</td>
                <td>{{u.Assignment_id.Assignment_Number}}</td>
                <td>{{u.Assignment_id.Course_id}}</td>
                <td>{{u.Assignment_id.Subject_id}}</td>
                <td>{{u.Assignment_id.Teacherprofile_id}}</td>
                <td>{{u.Assignment_id.Submission_Date}}</td>
                <td>{{u.Status}}</td>
                <td>
                  <a href="/uploadupdate/{{ u.id }}">
                    <button class="btn btn-danger">View</button>
                  </a>
                </td>
                <td>
                    
                  <a href="/editstuassign/{{u.id}}" class="ps-1">
                    <button class="btn btn-primary"><i class="fa-solid fa-pencil"></i> Edit</button>
                  </a>
                  </td>
              </tr>
              {% endfor %}
            </thead>
          </tbody>
        </table>
  </div>
</div>
{% endblock %}