{% extends 'base2.html' %}
{% load static %}
{% block title %} Checked assignments{% endblock %}
{% block content %}
<div class="row" id="dashbg">
  <div class="col-md-12">
    <div class="row" id="assign">
        <div class="col-md-12">
          <h2>Checked assignments</h2>
          <hr width="100%">
        </div>
      </div>
      <div class="row pt-5 ps-5">
       <div class="col-md-12">
          <table id="example" class="table table-striped table-light border border-3 border-dark " style="width:100%">
            <thead>
              <tr>
                <th>S No.</th>
                <th>Assignment Number</th>
                <th>Course Name</th>
                <th>Subject</th>
                <th>Submitted By</th>
                <th>Submitted Date</th>
                <th>Action</th>
              </tr>
              <tbody>
                {% for u in data %}
                  <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{u.Assignment_id.Assignment_Number}}</td>
                    <td>{{u.Assignment_id.Course_id}}</td>
                    <td>{{u.Assignment_id.Subject_id}}</td>
                    <td>{{u.Student_id.First_name}} {{u.Student_id.Last_name}}</td>
                    <td>{{u.Submission_Date}}</td>
                    <td> <a href="/teachchkview/{{ u.id }}">
                      <button class="btn btn-danger">View</button>
                    </a></td>
                  </tr>
                                
                {% endfor %}
          </thead>
        </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
